h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.overflow {
  padding: 2rem;
  overflow: hidden;
}

.block h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #777777;
}
p {
  font-weight: 400;
  font-size: 2rem;
  margin: 0 2rem;
}
.block h2::before {
  content: "<";
}
.block h2::after {
  content: ">";
}

.header {
  height: calc(100vh - 1rem);
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.header__container {
  position: relative;
}

.header h1 {
  font-weight: 400;
  font-size: 3rem;
  white-space: nowrap;
}
.header h2 {
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header__circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2rem solid #c2c2c266;
  border-radius: 50%;
}

.header__circle--blink {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 243px;
  height: 243px;

  border: 1px solid #c2c2c255;
  border-radius: 50%;
  animation: blink 3s ease-in-out infinite alternate;
  z-index: 1;
}

.header__img {
  z-index: 2;
  position: relative;
  border: 5px solid #ff4e4e;
  box-shadow: 0 0 25px 50px #ff4e4e22;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  transition: transform 0.5s;
  background-color: #00000011;
}

.header__img::after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  position: absolute;
  content: "1";
  font-size: 8rem;
  color: black;
  text-shadow: 0 0 0.25em #ff4e4e;
}

.header__img:hover {
  transform: scale(1.125) rotate(360deg);
}
.header__img:hover img {
  filter: grayscale(0);
  transform: none;
}

.header__img img {
  width: 15rem;
  height: 15rem;
  filter: grayscale(1);
  transform: scale(0);
  border-radius: 50%;
  transition: filter 0.5s, transform 0.5s;
}

.closing {
  text-align: right;
}
.skill {
  display: flex;
  gap: 2rem;
  font-weight: 700;
  font-size: 2rem;
  color: #777777;
  align-items: center;
}
.item {
  position: relative;
  width: 4rem;
  aspect-ratio: 1;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.item::after {
  content: "1";
  color: #77777777;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item:nth-of-type(2)::after {
  content: "2";
}
.item:nth-of-type(3)::after {
  content: "3";
}
.item:nth-of-type(4)::after {
  content: "4";
}
.item:nth-of-type(5)::after {
  content: "5";
}

.text {
  white-space: nowrap;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.container h3 {
  margin-top: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.projects__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  padding: 3rem 0;
}
.projects__item h3 {
  font-weight: 700;
  font-size: 2rem;
}
.projects__item p {
  font-weight: 400;
  font-size: 1.25rem;
}
.career li {
  font-weight: 600;
  font-size: 1.25rem;
}

.food {
  margin-left: 0.5rem;
  animation: food 3s ease-in-out infinite alternate;
  transform-origin: center;
}

.red {
  color: #ff4e4e;
  font-weight: 700;
}

.col-1 {
  background: rgba(255, 78, 78, 0.2);
}
.col-2 {
  background: rgba(255, 78, 78, 0.4);
}
.col-3 {
  background: rgba(255, 78, 78, 0.6);
}
.col-4 {
  background: rgba(255, 78, 78, 0.8);
}
.col-5 {
  background: rgba(255, 78, 78, 1);
}

@keyframes food {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  50% {
    transform: scale(4);
  }
}

@media screen and (max-width: 768.01px) {
  .header {
    flex-direction: column;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .projects__item h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425.01px) {
  p {
    margin: 0;
  }

  .container h3 {
    text-align: center;
  }

  .skill,
  .container {
    gap: 1rem;
  }
}
